<!DOCTYPE html>
<html>
<head>
    <title>Alhandra Rio | Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth/auth.css') }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='shared/img/logo.png') }}"></a>
    </header>
	<div class="login-box">
		<h2>Autenticação</h2>
		<form id="auth-form" action="/handle_auth" method="post">
			<label for="login">Utilizador:</label>
			<input type="text" id="username" name="username" placeholder="Insira o seu nome de utilizador" required>
		
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" placeholder="Insira a sua senha" required>		  

			<input id="login" type="submit" name="login-form-submit" value="Entrar">
			
			<p><i class="fa-solid fa-triangle-exclamation" style="color: orange;"></i> Área reservada a alunos e colaboradores.</p>
		</form>
	</div>

	{% include "shared/notification.html" %}
	
	<script type="module">
		const form = document.querySelector('#auth-form');

		form.addEventListener('submit', async (event) => {
		  event.preventDefault();
		  event.stopPropagation();
		
		  const formData = new FormData(form);
		  const url = form.action;
		
		  try {
		    const response = await fetch(url, {
		      method: 'POST',
		      body: formData,
		    });
		
		    if (!response.ok) {
		      throw new Error("Verifique os campos e tente novamente!");
		    }
		
		    window.location.replace("/dashboard");

		  } catch (error) {
		    document.getElementById("username").value = '';
		    document.getElementById("password").value = '';
		    sendNotification("error", "Falha ao Autenticar!", error.message);
		  }
		});
	</script>
</body>
</html>
