<!DOCTYPE html>
<html>
<head>
    <title>Alhandra Rio | Registo</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/auth/auth.css') }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='shared/img/logo.png') }}"></a>
    </header>
	<div class="login-box">
		<h2>Registo</h2>
		<form action="/registo" method="post">
			<label for="name">Nome:</label>
			<input type="text" id="name" name="name" placeholder="Insira o seu nome" required>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" placeholder="Insira o seu email" required>

			<label for="username">Utilizador:</label>
			<input type="text" id="username" name="username" placeholder="Insira o seu nome de utilizador" required>
		
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" placeholder="Insira a sua senha" required>		
			
			<label for="password">Repetir Password:</label>
			<input type="password" id="repeat-password" name="repeat-password" placeholder="Repita a sua senha" required>		

			<input id="login" type="submit" name="login-form-submit" value="Registar">
			
			<p><i class="fa-solid fa-circle-question" style="color: #005eff;"></i> Já possui conta? <a href="/auth">Clique aqui</a> e efetue o login.</p>
		</form>
	</div>

	{% include "shared/notification.html" %}

	{% if 'errormsg' in session %}
		<script>
			var regError = ["{{session['errormsg'][0]}}", "{{session['errormsg'][1]}}"]
		</script>
	{% endif %}
</body>
</html>
