<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/messages.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1>Agenda</h1>
      </div>
      <section class="main-content">
          <div class="content">
                <div class="box">
                  <h3>Dummy!</h3>
                  <p><strong>Data:</strong> 24/01/2023</p>
                  <p><strong>Professor:</strong> Louis Minerals</p>
                  <i class="fas fa-solid fa-chalkboard-user" style="color: #966100;"></i>
                  <p><strong>Tipo:</strong> Código</p>

                  <button style="background-color: #966100;" onclick="'mailto:teste@teste.com?subject=INSIRA O ASSUNTO AQUI (Aula 24/01/2023)'">Enviar Mensagem</button>          </div>
      </section>
      
      {% if user.type == 'STAFF' %}>
        <button class="rounded-button" onclick="console.log('ADD BUTTON TRIGGERED')">
          <i class="fas fa-plus"></i>
        </button>
      {% endif %}
    </section>
    </section>
  </div>
</body>
</html>
