<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/messages.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1>Agenda</h1>
      </div>
      <section class="main-content">
          <div class="content">
            {% if user_type == 'USER' %}
              {% for content in agenda %}
                {% if user_id == content.student_id %}
                  <div class="box">
                    <p><strong>Data:</strong> {{ content.date }}</p>
                    <p><strong>Instrutor:</strong> {{ content.teacher_name }}</p>
                    <i class="fas fa-solid fa-chalkboard-user" style="color: #966100;"></i>
                    <p><strong>Tipo:</strong> {{ content.type.capitalize() }}</p>
                    <button style="background-color: #966100;" onclick="'mailto:{{ content.teacher_email }}?subject=INSIRA O ASSUNTO AQUI (Aula 24/01/2023)'">Enviar Mensagem</button>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if user_type == 'STAFF' %}
              {% for content in agenda %}
                {% if session['username'] == content.teacher_username %}
                  <div class="box">
                    <p><strong>Data:</strong> {{ content.date }}</p>
                    <p><strong>Aluno:</strong> {{ content.student_name }}</p>
                    <i class="fas fa-solid fa-chalkboard-user" style="color: #966100;"></i>
                    <p><strong>Tipo:</strong> {{ content.type.capitalize() }}</p>
                    <button id="remove-button" style="background-color: #966100;" type="submit" onclick="deleteSchedule('{{content.teacher_id}}', '{{content.student_id}}', '{{content.date}}', '{{content.type}}')">Eliminar</button>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
      </section>
      
      {% if user.type == 'STAFF' %}
        <button class="rounded-button" onclick="openForm()">
          <i class="fas fa-plus"></i>
        </button>
      {% endif %}

      <div id="popupForm" class="popup-box">
        <div class="popup-content">
          <form id="agenda-form" action="/submit-agenda" method="post">
            <h2>Novo Agendamento</h2><br>

            <label for="student">Aluno:</label>
            <select id="student" name="student" required>
              {% for student in students %}
                <option value="{{student.username}}">{{student.username}}</option>
              {% endfor %}
            </select>
      
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" min="today" required>
      
            <label for="type">Tipo:</label>
            <select id="type" name="type" required>
              <option value="CÓDIGO">Código</option>
              <option value="TEÓRICA">Teórica</option>
              <option value="SIMULADOR">Simulador</option>
              <option value="EXAME">Exame</option>
            </select><br><br>
      
            <button class="submit-button" type="submit">Agendar</button>
          </form>
          <button id="close-form-button" class="close-button" onclick="closeForm()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      {% include "shared/notification.html" %}

      <script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("date")[0].setAttribute('min', today);

        
        function openForm() {
          document.querySelector('.popup-box').style.display = 'block'
          document.querySelector('body').style.overflow = 'hidden'
        }

        function closeForm() {
          document.querySelector('.popup-box').style.display = 'none'
          document.querySelector('body').style.overflow = 'auto'
        }

        const popupForm = document.querySelector('.popup-box')
        const closeButton = document.getElementById('close-form-button')

        const form = document.querySelector('#agenda-form')

        const deleteData = new FormData()
        function deleteSchedule(teacher_id, student_id, date, type) {
          deleteData.append("teacher_id", teacher_id)
          deleteData.append("student_id", student_id)
          deleteData.append("date", date)
          deleteData.append("type", type)

          const url = document.getElementById('remove-button').action = '/delete-schedule'

          fetch(url, {
            method: 'POST',
            body: deleteData
          }).then((response) => {
            if(!response.ok) {
              throw new Error(`HTTP ${response.status} ${response.statusText}`)
            }

            location.reload()
          }).catch((error) => {
            sendNotification("error", "Ocorreu um erro!", `Tente novamente mais tarde.`)
          })
        }

        form.addEventListener('submit', async (event) => {
          event.preventDefault()
          event.stopPropagation()

          const formData = new FormData(form)
          const url = form.action
          const response = await fetch(url, {
            method: 'POST',
            body: formData
          }).then(response => {
            if(!response.ok) {
              throw new Error(`HTTP ${response.status} ${response.statusText}`)
            }

            closeForm()
            sendNotification("sucess", "Sucesso!", "Agendamento criado com sucesso.")
            console.log("The form has been sucessfully sent to the remote server: ", response.status)
          }).catch((error) => {
            document.getElementById("student").value = ''
            document.getElementById("date").value = ''
            document.getElementById("type").value = ''

            closeForm()
            sendNotification("error", "Ocorreu um erro!", `Tente novamente mais tarde.`)
            throw error;
          })
        })
      </script>
    </section>
    </section>
  </div>
</body>
</html>
