<!-- 
  TODO:
  - Criar um iframe para a navbar, com o "overflow" escondido;
-->

<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/dashboard.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/dashboard/perfil" class="logo">
          <img src="{{ url_for('static', filename='/users/user.png') }}" alt="">
          <span class="nav-item">{{ session['username'] }}</span>
        </a></li>
        <li><a href="/dashboard">
          <i class="fas fa-home"></i>
          <span class="nav-item">Inicio</span>
        </a></li>
        <li><a href="/dashboard/agenda">
          <i class="fas fa-solid fa-calendar-days"></i>
          <span class="nav-item">Agenda</span>
        </a></li>
        {% if user.type == 'STAFF' or user.type == 'ADMIN' %}
          <li><a href="/dashboard/messages">
            <i class="fas fa-solid fa-envelope"></i>
            <span class="nav-item">Mensagens</span>
          </a></li>
          <li><a href="/dashboard/messages">
            <i class="fas fa-solid fa-book"></i>
            <span class="nav-item">Marcar</span>
          </a></li>
        {% endif %}
        {% if user.type == 'ADMIN' %}
        <li><a href="">
          <i class="fas fa-solid fa-users"></i>
          <span class="nav-item">Utilizadores</span>
        </a></li>
        {% endif %}
        <li><a href="/logout" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Sair</span>
        </a></li>
      </ul>
    </nav>

    <section class="main">
      <div class="main-top">
        <h1>Informações</h1>
      </div>
      <section class="main-content">
        <div class="content-box">
          <div class="content">
            <p>Bem-vindo de volta <strong>{{ session['username'] }}</strong></p>
          </div>
        </div>
      </section>
    </section>
  </div>
</body>
</html>
