<!-- 
  TODO:
  - Criar um iframe para a navbar, com o "overflow" escondido;
-->

<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/dashboard.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1>Informações</h1>
      </div>
      <section class="main-content">
        <div class="content-box">
          <div class="content">
            <p>Bem-vindo de volta <strong>{{ session['username'] }}</strong></p>
          </div>
        </div>
      </section>
    </section>
  </div>
</body>
</html>
