<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/messages.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1>Mensagens</h1>
      </div>
      <section class="main-content">
          <div class="content">
             {% for content in messages %}
                <div class="box">
                  <p><strong>ID:</strong> {{ content.id }}</p>
                  <p><strong>Enviado por:</strong> {{ content.name }}</p>
                  <i class="fas fa-envelope" style="color: #966100;"></i>
                  <p><strong>Mensagem:</strong> {{ content.message }}</p>

                  <!-- Se quiser alterar o modo de enviar email para o gmail, devo usar este link
                  https://mail.google.com/mail/?view=cm&to=recipient@example.com&su=Your%20Subject -->

                  <button onclick="window.location.href = 'mailto:{{ content.email }}'">Enviar email</button>
                  <button style="background-color: red;">Remover</button>
                </div>
             {% endfor %}
          </div>
      </section>
    </section>    
    </section>
  </div>
</body>
</html>
