<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/child.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1>Mensagens</h1>
      </div>
      <section class="main-content">
          <div class="content">
             {% for content in messages %}
                <div class="box">
                  <p><strong>ID:</strong> {{ content.id }}</p>
                  <p><strong>Enviado por:</strong> {{ content.name }}</p>
                  <i class="fas fa-envelope" style="color: #966100;"></i>
                  <p><strong>Email:</strong> {{ content.email }}</p>
                  <p><strong>Mensagem:</strong> {{ content.message }}</p>

                  <button onclick="window.location.href = 'mailto:{{ content.email }}'">Enviar Através do Outlook</button>
                  <button onclick="window.open('https://mail.google.com/mail/?view=cm&to={{content.email}}&su=Resposta - Escola de Condução', '_blank')">Enviar Através do Gmail</button>
                  <button id="remove-button" style="background-color: red;" onclick="deleteMessage('{{ content.id }}')">Remover</button>
                </div>
             {% endfor %}
          </div>
      </section>
    </section>    
    </section>
  </div>

  <script>
    function deleteMessage(id) {
          const url = document.getElementById('remove-button').action = '/delete-message/' + id

          fetch(url, {
            method: 'POST',
          }).then((response) => {
            if(!response.ok) {
              throw new Error(`HTTP ${response.status} ${response.statusText}`)
            }

            location.reload()
          }).catch((error) => {
            sendNotification("error", "Ocorreu um erro!", "Tente novamente mais tarde.")
          })
    }
  </script>
</body>
</html>
