<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charsetUTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/child.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1 style="color: #966100;">O Seu Perfil</h1>
      </div>
      <section class="main-content">
        <div class="content">
          <div class="box">
            <form action="/update-profile-picture" method="post" id="profile-picture">
              <h3 style="color: #966100;">Foto de perfil</h3><br />
              {% if user_picture == 1 %}
                <i><img id="picture-preview" src="{{ url_for('static', filename='/uploads/' + session['username'] + '.png') }}" alt="" width="100" height="100" style="border-radius: 50%;"></i>
              {% else %}
                <i><img id="picture-preview" src="{{ url_for('static', filename='users/default.png') }}" alt="" width="100" height="100" style="border-radius: 50%;"></i>
              {% endif %}
              <label for="profile-picture"><strong>Clique para enviar uma foto</strong></label><br />
              <input type="file" accept="image/png, image/jpeg" name="profile-picture" id="profile-picture" required><br />
              <button style="background-color: #966100">Guardar Alterações</button>
            </form>
          </div>
          {% if not testemunho %}
            <div class="box">
              <form action="/send-testemunho" method="post" id="testemunho">
                <h3 style="color: #966100;">Testemunho</h3><br />
                <label for="testemunho">Escreva o seu testemunho:</label><br />
                <input type="text" name="testemunho" id=""><br />
                <button style="background-color: #966100">Enviar</button>
              </form>
            </div>
          {% endif %}
      </section>
    </section>

    {% include "shared/notification.html" %}

    <script>
      const picture = document.querySelector('#profile-picture')
      const testemunho = document.querySelector('#testemunho')

      picture.addEventListener('submit', async (event) => {
        event.preventDefault()
        event.stopPropagation()

        const formData = new FormData(event.target)
        const url = event.target.action
        const response = await fetch(url, {
            method: 'POST',
            body: formData
          }).then(response => {
            if (!(response.ok)) {
              throw new Error(`HTTP ${response.status} ${response.statusText}`)
            }

            location.reload()
          }).catch((error) => {
            sendNotification("error", "Ocorreu um erro!", "Tente novamente mais tarde.")
            throw error;
          })
      })

      testemunho.addEventListener('submit', async (event) => {
        event.preventDefault()
        event.stopPropagation()

        const formData = new FormData(event.target)
        const url = event.target.action
        const response = await fetch(url, {
          method: 'POST',
          body: formData
        }).then(response => {
          if(!response.ok) {
            throw new Error(`HTTP ${response.status} ${response.statusText}`)
          }

          location.reload()
        }).catch((error) => {
          sendNotification("error", "Ocorreu um erro!", "Tente novamente mais tarde.")
        })
      })
    </script>
  </div>
</body>
</html>