<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/messages.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1 style="color: #966100;">Gerir Utilizadores</h1>
      </div>
      <section class="main-content">
          {% for user in users %}
            {% if not user.type == 'ADMIN' %}
              <div class="content">
                  <div class="box">
                    <p><strong>ID:</strong> {{user.id}}</p>
                    <p><strong>Utilizador:</strong> {{user.username}}</p>
                    <i class="fa-solid fa-user"></i>
                    <p><strong>Nível de Permissões:</strong> {{user.type}}</p>
                  
                    <button style="background-color: #966100;">Editar</button>
                    <button style="background-color: red;">Remover</button>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
      </div>
      </section>
    </section>
    </section>
  </div>
</body>
</html>
