<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <title>Alhandra Rio | Painel de Controlo</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/child.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='shared/img/favicon.ico') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
  <div class="container">
    {% include "core/dashboardNavbar.html" %}

    <section class="main">
      <div class="main-top">
        <h1 style="color: #966100;">Gerir Utilizadores</h1>
      </div>
      <section class="main-content">
          {% for user in users %}
            {% if not user.type == 'ADMIN' %}
              <div class="content">
                  <div class="box">
                    <p><strong>ID:</strong> {{user.id}}</p>
                    <p><strong>Utilizador:</strong> {{user.username}}</p>
                    {% if user.picture == 1 %}
                      <i><img src="{{ url_for('static', filename='uploads/' + user.username + '.png') }}" alt="" width="100" height="100" style="border-radius: 50%;"></i>
                    {% else %}
                      <i><img src="{{ url_for('static', filename='users/default.png') }}" alt="" width="100" height="100" style="border-radius: 50%;"></i>
                    {% endif %}
                    <p><strong>Nome:</strong> {{user.name}}</p>
                    <p><strong>Email:</strong> {{user.email}}</p>
                    <p><strong>Nível de Permissões:</strong> {{user.type}}</p>

                    <button style="background-color: #966100;" 
                        onclick="openUpdateForm('{{ user.id }}', '{{ user.username }}', '{{ user.name }}', '{{ user.email }}', '{{ user.type }}')">
                        Editar
                    </button>

                    <button type="submit" style="background-color: red;" onclick="removeUser('{{ user.id }}')">Remover</button>
                  </div>
              </div>
            {% endif %}
          {% endfor %}

          <button class="rounded-button" onclick="openForm()">
            <i class="fas fa-plus"></i>
          </button>

          <div id="popupForm" class="popup-box">
            <div class="popup-content">
              <form class="add-form" action="/add-user" method="post">
                <h2>Novo Utilizador</h2><br>
    
                <label for="student">Utilizador:</label>
                <input type="text" name="username" id="username">

                <label for="student">Nome:</label>
                <input type="text" name="name" id="name">

                <label for="student">Email:</label>
                <input type="email" name="email" id="email">

                <label for="student">Palavra-Passe:</label>
                <input type="password" name="password" id="password">
          
                <label for="type">Tipo:</label>
                <select id="type" name="type" required>
                  <option value="USER">Aluno</option>
                  <option value="STAFF">Staff</option>
                  <option value="ADMIN">Administrador</option>
                </select><br><br>
          
                <button class="submit-button" type="submit">Criar</button>
              </form>
              <button id="close-form-button" class="close-button" onclick="closeForm()">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>

          <div id="updatePopupForm" class="popup-box" style="display: none;">
            <div class="popup-content">
                <form id="update-form" class="update-form" method="post">
                    <h2>Atualizar Utilizador</h2><br>
            
                    <label for="update-username">Utilizador:</label>
                    <input type="text" name="username" id="update-username">
        
                    <label for="update-name">Nome:</label>
                    <input type="text" name="name" id="update-name">
        
                    <label for="update-email">Email:</label>
                    <input type="email" name="email" id="update-email">
        
                    <label for="update-password">Palavra-Passe:</label>
                    <input type="password" name="password" id="update-password">
            
                    <label for="update-type">Tipo:</label>
                    <select id="update-type" name="type">
                        <option value="USER">Aluno</option>
                        <option value="STAFF">Staff</option>
                        <option value="ADMIN">Administrador</option>
                    </select><br><br>
            
                    <button class="submit-button" type="submit">Atualizar</button>
                </form>
                <button id="close-update-form-button" class="close-button" onclick="closeUpdateForm()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        

          {% include "shared/notification.html" %}

          <script>
            const addForm = document.querySelector(".add-form")

            function openForm() {
              document.querySelector('.popup-box').style.display = 'block'
              document.querySelector('body').style.overflow = 'hidden'
            }
          
            function closeForm() {
              document.querySelector('.popup-box').style.display = 'none'
              document.querySelector('body').style.overflow = 'auto'
            }

            function openUpdateForm(userId, username, name, email, type) {
                document.getElementById('update-username').value = username;
                document.getElementById('update-name').value = name;
                document.getElementById('update-email').value = email;
                document.getElementById('update-type').value = type;
            
                document.getElementById('update-form').action = `/update-user/${userId}`;
            
                document.getElementById('updatePopupForm').style.display = 'block';
                document.querySelector('body').style.overflow = 'hidden';
            }
          
            function closeUpdateForm() {
                document.getElementById('updatePopupForm').style.display = 'none';
                document.querySelector('body').style.overflow = 'auto';
            }
          
            document.getElementById('update-form').addEventListener('submit', async (event) => {
                event.preventDefault();
                event.stopPropagation();
            
                const formData = new FormData(event.target);
                const url = event.target.action;
            
                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        body: formData
                    });
                  
                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status} ${response.statusText}`);
                    }
                  
                    closeUpdateForm();
                    sendNotification("success", "Sucesso!", "Utilizador atualizado com sucesso.");
                } catch (error) {
                    sendNotification("error", "Ocorreu um erro!", "Tente novamente mais tarde.");
                    console.error("Error updating user:", error);
                }
            });

          addForm.addEventListener('submit', async (event) => {
            event.preventDefault()
            event.stopPropagation()

            const formData = new FormData(addForm)
            const url = addForm.action
            const response = await fetch(url, {
              method: 'POST',
              body: formData
            }).then(response => {
              if(!response.ok) {
                throw new Error(`HTTP ${response.status} ${response.statusText}`)
              }

              closeForm()
              sendNotification("sucess", "Sucesso!", "Agendamento criado com sucesso.")
              console.log("The form has been sucessfully sent to the remote server: ", response.status)
            }).catch((error) => {
              document.getElementById("username").value = ''
              document.getElementById("name").value = ''
              document.getElementById("email").value = ''
              document.getElementById("password").value = ''
              document.getElementById("type").value = ''

              closeForm()
              sendNotification("error", "Ocorreu um erro!", "Tente novamente mais tarde.")
              throw error;
            })
          })

          function removeUser(userid) {
            fetch('/remove/' + userid, {
              method: 'POST'
            }).then(response => {
              if(!response.ok) {
                throw new Error(`HTTP ${response.status} ${response.statusText}`)
              }

              location.reload()
            }).catch((error) => {
              sendNotification("error", "Ocorreu um erro!", "Tente novamente mais tarde.")
            })
          }
          </script>
      </div>
      </section>
    </section>
    </section>
  </div>
</body>
</html>
